.search-container > input {
  width: 50%;
  border-radius: 2rem;
  border: 1px solid orangered;
  height: 3rem;
  outline: none;
  font-size: larger;
  padding-left: 5rem;
  margin-bottom: 2rem;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container > img {
  position: relative;
  right: -67px;
  /* margin: 0; */
  /* padding: 0; */
  align-self: baseline;
  width: 3rem;
}
@media only screen and (max-width: 500px) {
  .search-container > input {
    width: 80%;
  }
}
